*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 12% 38% 38% 12%;
    grid-template-rows: 25% 10% 40% 25% 60% 40%;
}

#head{
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 50% 50%;
}

#logo{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: red;
}

#nav{
    grid-column: 2/3;
    background-color: rgb(0, 255, 13);
    padding-left: 15%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav p{
    display: none;
}


#nav i{
    font-size: 180%;
}
#mode{
    grid-column: 2/3;
    background-color: rgb(255, 255, 255);
}

#text{
    grid-column: 1/5;
    background-color: rgb(247, 104, 104);

}

#jobs{
    grid-column: 1/5;
    background-color: rgb(188, 255, 43);

}

#user-details{
    grid-column: 1/5;
    background-color: rgb(43, 191, 255);
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 100%;

}

#user-logo{
    background-color: blueviolet;
}

#events-list{
    grid-column: 1/5;
    background-color: rgb(255, 28, 187);

}

#contact{
    grid-column: 1/5;
    background-color: rgb(255, 28, 89);

}